/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}
nav {
  width: 75%;
  background: #013D7D;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 500px) {
  nav {
    width: 95.5%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
nav a {
  color: #E8ECF0;
  text-decoration: none;
  font-size: 4rem;
  margin-left: 5%;
}
@media (max-width: 500px) {
  nav a {
    margin-left: 0;
  }
}
.logButton {
  background: #E8ECF0;
  border-radius: 15%;
  text-align: center;
  font-size: 3rem;
  width: 12%;
  height: 50%;
  margin-left: 10%;
}
@media (max-width: 500px) {
  .logButton {
    width: 75%;
    font-size: 1.6rem;
    margin: 0;
  }
}
body h2 {
  font-size: 5rem;
}
.pageContainer {
  width: 70%;
  justify-content: center;
  margin-top: 2%;
  margin-left: 15%;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .pageContainer {
    width: 95%;
    margin: 2% 3% 2% 3%;
  }
}
.pageContainer header {
  display: flex;
  width: 100%;
}
.pageContainer header .logoImage {
  width: 25%;
}
@media (max-width: 500px) {
  .pageContainer header .logoImage {
    width: 95%;
    justify-content: center;
  }
}
.pageContainer header .logoImage img {
  width: 100%;
}
@media (max-width: 500px) {
  .pageContainer header {
    width: 95%;
    margin-left: 2.5%;
    flex-direction: column;
  }
}
.pageContainer .topFirstBox {
  margin: 3% 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .pageContainer .topFirstBox {
    margin: 0;
    flex-direction: column;
  }
}
.pageContainer .topFirstBox h2 {
  width: 100%;
  font-size: 10rem;
  text-align: center;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .pageContainer .topFirstBox h2 {
    font-size: 4rem;
    border-top: 0.1rem solid #013D7D;
    margin-top: 4%;
  }
}
.pageContainer .topFirstBox .sectionText {
  width: 50%;
  justify-content: center;
}
@media (max-width: 500px) {
  .pageContainer .topFirstBox .sectionText {
    width: 100%;
  }
}
.pageContainer .topFirstBox .sectionText p {
  padding: 0 4.5% 0 0;
  font-size: 3rem;
}
@media (max-width: 500px) {
  .pageContainer .topFirstBox .sectionText p {
    padding: 0;
    font-size: 1.6rem;
  }
}
.pageContainer .topFirstBox .sectionText .standardPageButton {
  width: 25%;
  background: #E8ECF0;
  font-size: 3.6rem;
  padding: 0.4%;
  margin: 10% 0 0 30%;
}
@media (max-width: 500px) {
  .pageContainer .topFirstBox .sectionText .standardPageButton {
    width: 55%;
    padding: 0;
    margin-left: 23%;
    margin-bottom: 10%;
  }
}
.pageContainer .topFirstBox .topimg {
  width: 45%;
}
.pageContainer .topFirstBox .topimg img {
  width: 100%;
}
@media (max-width: 500px) {
  .pageContainer .topFirstBox .topimg {
    width: 100%;
  }
}
.pageContainer .middleSection {
  margin: 3% 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pageContainer .middleSection h2 {
  width: 100%;
  font-size: 10rem;
  text-align: center;
  margin: 0% 0 2% 2%;
}
@media (max-width: 500px) {
  .pageContainer .middleSection h2 {
    font-size: 4rem;
    border-top: 0.1rem solid #013D7D;
    margin-top: 4%;
  }
}
.pageContainer .middleSection .bottomImage {
  width: 50%;
}
.pageContainer .middleSection .bottomImage img {
  width: 100%;
}
.pageContainer .middleSection .middleContent {
  width: 45%;
}
.pageContainer .middleSection .middleContent p {
  width: 100%;
  font-size: 3rem;
}
.pageContainer .middleSection .middleContent .longButton {
  width: 25%;
  background: grey;
  font-size: 3.6rem;
  padding: 0.4%;
  margin: 5% 0 2% 35%;
}
.pageContainer .bottomSection {
  margin: 3% 0 2% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.pageContainer .bottomSection h2 {
  width: 100%;
  font-size: 10rem;
  text-align: center;
  margin: 0% 0 2% 2%;
}
.pageContainer .bottomSection p {
  width: 100%;
  font-size: 3rem;
}
.pageContainer .bottomSection .toAboutPage {
  width: 25%;
  background: grey;
  margin-left: 40%;
  font-size: 3.6rem;
}
.pageContainer footer {
  background: #E8ECF0;
  margin: 6% 0;
}
.pageContainer footer .contact {
  font-size: 3rem;
  text-align: center;
  line-height: 4.2rem;
}
.pageContainer footer .contact a {
  color: dodgerblue;
}
.teamSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.teamSection h2 {
  width: 100%;
  justify-items: center;
  text-align: center;
  margin-top: 3%;
  font-size: 10rem;
}
.teamSection .teamBio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.teamSection .teamBio .memberBox {
  width: 30%;
  margin: 5% 0;
  border: 0.3rem solid #000;
}
.teamSection .teamBio .memberBox img {
  width: 90%;
  margin-left: 5%;
  padding: 1rem;
}
.teamSection .teamBio .memberBox p {
  font-size: 2rem;
  text-align: center;
}
