/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}
nav {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid green;
}
nav a {
  font-size: 4rem;
  margin-left: 5%;
  max-height: 80%;
  border: 1px solid red;
}
.logButton {
  background: lightblue;
  font-size: 3rem;
  width: 12%;
  height: 50%;
  margin-left: 10%;
  width: 8%;
}
body h2 {
  font-size: 5rem;
}
.pageContainer {
  width: 80%;
  justify-content: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 2%;
}
.pageContainer header {
  display: flex;
  width: 100%;
}
.pageContainer header .logoImage {
  width: 25%;
}
.pageContainer header .logoImage img {
  width: 100%;
}
.pageContainer .topFirstBox {
  margin: 3% 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pageContainer .topFirstBox h2 {
  width: 100%;
  font-size: 10rem;
  text-align: center;
  margin-bottom: 2%;
}
.pageContainer .topFirstBox .sectionTitle {
  width: 50%;
  justify-content: center;
}
.pageContainer .topFirstBox .sectionTitle p {
  padding: 0 4.5% 0 0;
  font-size: 3rem;
}
.pageContainer .topFirstBox .sectionTitle .standardPageButton {
  width: 25%;
  background: grey;
  height: 7rem;
  font-size: 3.6rem;
  padding: 0.4%;
  margin: 10% 0 0 30%;
  border: 1px solid blue;
}
.pageContainer .topFirstBox .topimg {
  width: 45%;
}
.pageContainer .topFirstBox .topimg img {
  width: 100%;
}
