body {
    // background: blue;
    // border: 1px solid red;
    h2 {
        font-size: 5rem;
    }
    
}

.pageContainer {
    width: 70%;
    justify-content: center;
    margin-top:2%;
    margin-left: 15%;
    margin-bottom: 2%;

    
    @media @onek {
        max-width: 1000px;
        width:95%;
        margin-left: 2.5%
    } 
    
    @media @phone {
        width: 95%;
        margin: 2% 3% 2% 3%;
    }
    // border: 1px solid red;


    header {
        display: flex;
        width: 100%;
        // border:1px solid orange;

        .logoImage {
            width: 25%;
            
            @media @onek {
                width: 30%;
            }
            
            @media @phone {
                width:100%;
                justify-content: center;

            }
            // border: 1px solid red;
            img{
                width:100%;
            }
        
        }
        @media @phone {
            width: 95%;
            margin-left: 2.5%;
            flex-direction: column;
            
        }
    
    }

    // top section inviting them to create an event  

    .topFirstBox{
        margin: 3% 0;
        width:100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;  
        // padding: 0 4.5%;
        
        // @media @onek {

        // }
        
        @media @phone {
            margin:0;
            flex-direction: column;
        }


        // border: 1px solid green;
        h2 {
            width: 100%;
            font-size: 10rem;
            text-align: center;
            margin-bottom: 2%;

            @media @onek{
                font-size: 4rem;
                margin-bottom: 4%;
            }


            @media @phone {
                font-size: 4rem;
                border-top: .1rem solid @navy;
                margin-top: 4%;
            }
            // border: 1px solid purple;
        }
        

        .sectionText {
            width: 50%;
            // padding-left:35%;
            // border:1px solid blue;
            justify-content: center;

            @media @phone {
                width:100%;
            }
            
            p {
                padding: 0 4.5% 0 0 ;
                font-size: 3rem;
                // border: 1px solid red;


                @media @onek {
                    font-size: 1.6rem;
                }

                @media @phone {
                    padding: 0;
                    font-size: 1.6rem;
                }
           }
           // top button only
           .standardPageButton {
               width: 25%;
               background: @offWhite;
            //    height: 7rem;
               font-size: 3.6rem;
               padding: .4%;
               margin:10% 0 0 30%; 

               &:hover {
                background-color:@navy;
                color: white;
              }
               
               @media @onek {
                   font-size: 1.6rem;

               }

               @media @phone {
                   width: 55%;
                   padding: 0;
                   margin-left:23%;
                   margin-bottom: 10%;

               }
               
            //    border: 1px solid blue;

           }
        }

        .topimg {
            width: 45%;
            // border:2px solid red;
            img {
                width:100%;
            }
            
            
            @media @phone {
                width: 100%;
            }

        }

    }
    
    // Already created an event portion of the marketing. 
    .middleSection {
        margin: 3% 0;
        width:100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;  
        // padding: 0 4.5%;
        // border: 1px solid red;
        
        h2{
            width: 100%;
            font-size: 10rem;
            text-align: center;
            margin:0% 0 2% 2%;
            
            @media @onek{
                font-size:4rem;

            }
            
            
            @media @phone {
                font-size: 4rem;
                border-top: .1rem solid @navy;
                margin-top: 4%;
            }
            // border: 1px solid purple;
        }
        .bottomImage {
            width: 50%;
            // border:2px solid red;
            img {
                width:100%;
            }
        }
        .middleContent {
            width:45%;

            p {
                width: 100%;
                font-size: 3rem;

                @media @onek {
                    font-size: 1.6rem;
                }

                @media @tablet {
                    font-size: 1.6rem;
                }

                @media @phone {
                    width: 55%;
                    padding: 0;
                    margin-left:23%;
                    margin-bottom: 10%;
                }
            }
    
            .longButton {
                width: 25%;
                background: @offWhite;
            //    height: 7rem;
                font-size: 3.6rem;
                padding: .4%;
                margin: 5% 0 2% 35%;

                &:hover {
                    background-color:@navy;
                    color: white;
                  }

                @media @onek {
                    font-size: 1.6rem;
                };

                @media @tablet {
                    width: 50%;
                    margin: 5% 0 2% 25%;
                    
                }
 
                @media @phone {
                    width: 55%;
                    padding: 0;
                    margin-left:23%;
                    margin-bottom: 10%;
 
                }   
                //    border: 1px solid blue;
            }
        }
     
    }

    // bottom section (about me) styles
    .bottomSection {
        margin: 3% 0 2% 0;
        width:100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        flex-wrap: wrap;  
        h2 { 
            width: 100%;
            font-size: 10rem;
            text-align: center;
            margin:0% 0 2% 2%;

            @media @onek{
                font-size:4rem;

            }
            
            
            @media @phone {
                font-size: 4rem;
                border-top: .1rem solid @navy;
                margin-top: 4%;
            }
            // border: 1px solid purple; 
        }

        p {
            width: 100%;
            font-size: 3rem;

            @media @onek {
                font-size: 1.6rem;
                text-align: center;
            }

            @media @phone {
                width: 55%;
                padding: 0;
                margin-left:23%;
                margin-bottom: 10%;
            }
        }
        .toAboutPage {
            width:25%;
            background: @offWhite;
            margin-left: 40%;
            font-size: 3.6rem;

            @media @onek {
                font-size: 1.6rem;
                margin: 4% 0 4% 36%;

            }

            @media @phone {
                width: 55%;
                padding: 0;
                margin-left:23%;
                margin-bottom: 10%;

            }   
        }
    }

    //footer and any other contact info

    footer {
        background: #E8ECF0;
        margin: 6% 0;

        @media onek {
            width:90%;
            border: 1px solid red;
        }

        .contact {
            font-size: 3rem;
            text-align: center;
            line-height: 4.2rem;

            @media @onek {
                font-size: 1.6rem;
                line-height: 2rem;
            }

            a {
                color: @royal;

                @media @onek {
                    font-size: 1.6rem;
                    line-height: 2rem;
                }
            }
        }
    }
}    

