body {
    // background: blue;
    // border: 1px solid red;
    h2 {
        font-size: 3.6rem;
    }
    
}

.pageContainer {
    width: 80%;
    justify-content: center;
    margin-top:2%;
    margin-left: 10%;
    margin-bottom: 2%;
    // border: 1px solid red;


    header {
        display: flex;
        width: 100%;
        border:1px solid orange;

        .logoImage {
            width: 25%;
            border: 1px solid red;
            img{
                width:100%;
            }
        
        }
    
    }

    
   

    .topFirstBox{
        margin: 3% 0;
        font-size: 1.6rem;
        width:100%;
        display: flex;
        flex-wrap: wrap;  
        // padding: 0 4.5%;


        border: 1px solid green;
        h2 {
            width: 100%;
            text-align: center;
            border: 1px solid purple;
        }
        

        .sectionTitle {
            width: 50%;
            // padding-left:35%;
            border:1px solid blue;
            justify-content: center;
            
            p {
                padding: 0 4.5%;
                font-size: 3rem;
                border: 1px solid red;
    
            }
        }

        .topimg {
            width: 45%;
            border:1px solid red;
            img {
                width:100%;
            }

        }

    }
}    

