nav {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border:1px solid green;

}
 nav a {
    //  margin-left:10%;
    font-size: 4rem;
     max-height:80%;
    //  align-items: 
 }

 .logButton {
    background: lightblue;
    font-size: 3rem;
    width:10%;
    height:50%;
    margin-left: 2%;
    // margin-right: 8%;
    width: 8%;
 }
