nav {
    width: 75%;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border:1px solid green;

}
 nav a {
     margin-left:10%;
     max-height:80%;
    //  align-items: 
 }

 .logButton {
    background: lightblue;
    height:50%;
    margin-left: 8%;
    margin-right: 8%;
    width: 8%;
 }
